<footer class="company-info container">
  <div class="company-info-blocks block-owner">
    <p class="company-info-title primary-title">
      {{owner}}
    </p>
    <p class="company-info-title">{{registration_number}}:445693330</p>
  </div>
  <div class="company-info-blocks block-cooperation">
    <p class="company-info-title">
      {{cooperation}}
    </p>
  </div>
  <div class="company-info-blocks">
    <p class="company-info-title primary-title">{{address_Georgia}}</p>
    <p class="company-info-title">{{address_Kenya}}</p>
  </div>
  <div class="company-info-blocks">
    <p class="company-info-title primary-title">{{founder}}</p>
    <a class="company-info-title" href="http://www.mikhailmazanov.com/" target="_blank">
    http://www.mikhailmazanov.com/
    </a>
  </div>
</footer>
