<main class="main-info container">
  <div class="container">
    <p class="welcome-title">{{welcome_title}}</p>
    <div class="about">
      <h1 class="about-title" data-translate="title">
        {{title}}
      </h1>
      <div class="about-block">
        <p class="about-text">
          {{about_text}}
        </p>
        <button type="button" class="primary-button" onClick="popupShow()">
          {{button_text}}
        </button>
      </div>
    </div>

    <div class="hero-section">
      <div class="content-block">
        <div class="about-clients">
          <h3 class="brand-info-title primary-title ">{{brand}}</h3>

         <div class="about-clients-list">
          <a href="https://www.igamingmanagement.io" target="_blank">
            <img class="logo_gaming" src="./assets/img/logo_IGaming Management.svg" alt="IGaming logo"/>
          </a>
          <div>
            <p>{{gaming}}</p>
            <a class="brand-info-title" href="https://www.igamingmanagement.io" target="_blank">
              igamingmanagement.io
            </a>
          </div>
         </div>

         <div class="about-clients-list">
          <a href="https://www.helloafrica.io" target="_blank">
            <img class="logo_africa" src="./assets/img/logo-hello-africa.svg" alt="Africa logo" />
          </a>
          <div>
            <p>{{africa_text}}</p>
            <a class="brand-info-title" href="https://www.helloafrica.io" target="_blank">
              www.helloafrica.io
            </a>
          </div>
         </div>

         <div class="about-clients-list">
          <a href="https://www.hellogeorgia.io" target="_blank">
            <img class="logo_georgia" src="./assets/img/logo_hello_Georgia.svg" alt="Georgia logo" />
          </a>
          <div>
            <p>{{georgia_text}}</p>
            <a class="brand-info-title" href="https://www.hellogeorgia.io" target="_blank">
            www.hellogeorgia.io
            </a>
          </div>
         </div>

         <div class="about-clients-list">
          <a href="https://www.bacongames.com" target="_blank">
            <img class="logo_bacon" src="./assets/img/bacon games.svg" alt="Bacon logo"/>
          </a>
          <div>
            <p>{{bacon_text}}</p>
            <a class="brand-info-title" href="https://www.bacongames.com" target="_blank">
            www.bacongames.com
            </a>
          </div>
         </div>

         <div class="about-clients-list">
          <a href="https://www.puma.io" target="_blank">
            <img class="logo_puma" src="./assets/img/logo_puma.svg" alt="Puma logo" />
          </a>
          <div>
            <p>{{puma_text}}</p>
            <a class="brand-info-title" href="https://www.puma.io" target="_blank">
              www.puma.io
            </a>
          </div>
         </div>
        </div>

        <div class="contacts-block">
          <div class="contacts-info">
            <h3 class="brand-info-title">{{contacts}}</h3>
            <p class="contacts-info-text">{{contacts_info_text}}
            </p>
            <div class="block-social">
              <div class="region-social-links">
                <p class="region-name">{{Georgia}}:</p>
                <div class="social-links">
                  <a href="whatsapp://send?phone=+995558791268">
                    <img class="social-links-icon" src="./assets/img/whatsapp.svg" alt="whatsapp-icon" />
                  </a>
                  <a href="tg://resolve?domain=infoimans">
                    <img class="social-links-icon " src="./assets/img/telegram.svg" alt="telegram-icon" />
                  </a>
                  <a class="email-link" href="mailto:info@imans.io">
                    <img class="social-links-icon icon-email" src="./assets/img/email.svg" alt="Email" />
                  </a>
                </div>
              </div>
              <div class="region-social-links">
                <p class="region-name">{{Kenya}}:</p>
                <div class="social-links">
                  <a href="whatsapp://send?phone=+995558791268">
                    <img class="social-links-icon" src="./assets/img/whatsapp.svg" alt="whatsapp-icon" />
                  </a>
                  <a href="tg://resolve?domain=infoimans">
                    <img class="social-links-icon" src="./assets/img/telegram.svg" alt="telegram-icon" />
                  </a>
                  <a class="email-link" href="mailto:info@imans.io">
                    <img class="social-links-icon icon-email" src="./assets/img/email.svg" alt="Email" />
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>