<main class="main-info container">
  <div class="container">
    <p class="welcome-title">{{welcome-title}}</p>
    <div class="about">
      <h1 class="about-title" data-translate="title">
        {{title}}
      </h1>
      <div class="about-block">
        <p class="about-text">
          {{about_text}}
        </p>
        <button type="button" class="primary-button" onClick="popupShow()">
          {{button_text}}
        </button>
      </div>
    </div>

    <div class="hero-section">
      <div class="brand-info">
        <div class="brand">
          <h3 class="brand-info-title">{{brand}}</h3>
          <p class="brand-info-text">{{brand_about}}</p>
        </div>
        <div class="brand-info-about">
          <a class="brand-info-title" href="http://www.igamingmanagement.io" target="_blank">
          igamingmanagement.io
          </a>
          <a  href="http://www.igamingmanagement.io" target="_blank">
            <img class="logo_gaming" src="./assets/img/logo_IGaming.svg" alt="IGaming logo" />
          </a>
        </div>
      </div>

      <div class="content-block">
        <div class="about-clients">
          <h3 class="brand-info-title">{{brand_info_title}}</h3>
          <ul class="about-clients-list">
            <li class="about-clients-text">
              <img src="./assets/img/bussines/dollar.svg" />
              {{banking}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/hospital.svg" />{{medicine}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/shop.svg" />{{trading}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/lightbulb-bolt.svg" />{{energetics}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/translation.svg" />{{information}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/academic-cap.svg" />{{education}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/buildings.svg" />{{real_estate}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/shield-check.svg" />{{insurance}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/car.svg" />{{automotive}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/monitor.svg" />{{it_sector}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/diagram.svg" />{{cryptocurrency}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/dices.svg" />{{gambling}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/home.svg" />{{hospitality}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/confetti.svg" />{{entertainment}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/chef-hat.svg" />{{restaurant}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/suitcase-tag.svg" />{{tourism}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/users.svg" />{{network}}
            </li>
            <li class="about-clients-text">
              <img src="./assets/img/bussines/phone.svg" />{{telecom}}
            </li>
          </ul>
        </div>

        <div class="contacts-block">
          <div class="contacts-info">
            <h3 class="brand-info-title">{{contacts}}</h3>
            <p class="contacts-info-text">{{contacts_info_text}}
            </p>
            <div class="block-social">
              <div class="region-social-links">
                <p class="region-name">{{Georgia}}:</p>
                <a href="whatsapp://send?phone=+995558791268">
                  <img class="social-links-icon" src="./assets/img/whatsapp.svg" alt="whatsapp-icon" />
                </a>
                <a href="tg://resolve?domain=infoimans">
                  <img class="social-links-icon" src="./assets/img/telegram.svg" alt="telegram-icon" />
                </a>
                <a class="email-link" href="mailto:info@imans.io">
                  <img class="social-links-icon" src="./assets/img/email.svg" alt="Email" />
                </a>
              </div>
              <div class="region-social-links">
                <p class="region-name">{{Kenya}}:</p>
                <a href="whatsapp://send?phone=+995558791268">
                  <img class="social-links-icon" src="./assets/img/whatsapp.svg" alt="whatsapp-icon" />
                </a>
                <a href="tg://resolve?domain=infoimans">
                  <img class="social-links-icon" src="./assets/img/telegram.svg" alt="telegram-icon" />
                </a>
                <a class="email-link" href="mailto:info@imans.io">
                  <img class="social-links-icon" src="./assets/img/email.svg" alt="Email" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>